body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 3;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    width: 340px;
    height: auto;
    z-index: 3;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

/* .modalForm{
    position: relative;
    width: 320px;
    margin: 30px 10px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
} */
.modalInput, .modalTextarea{
    font-family: 'Poppins';
    outline: none;
    resize: none;
    border: none;
    width: 100%;
    padding: 4px;
    font-size: 1.2rem;
    margin: 10px 0px;
    position: relative;
    width: 320px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}
#modalBtn {
    margin: 10px 10px 10px 0;
    float: right;
    background: var(--ten);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: 34px;
    width: 70px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    scale: 1.1;
}
#modalBtn:active{
    background-color: var(--eleven);
    scale: 1;
}

.close-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 10px 0px 20px 0px;
}